.banner {
    height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

.banner::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, #0f0f0f, rgba(#000, 0));
        
}

.movie-content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    position: relative;
    padding: 0 2rem;
}

.movie-info{
    width: 70%;
    padding-left: 2rem;
    position: relative;
}

.title{
    font-size: 4rem;
    line-height: 1;
    color:#fff;
    font-weight: 700;
}

.genres{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.genres-item{
    padding: 0.5rem 1.5rem;
    border: 2px solid #fff;
    border-radius: 30px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    background-color:#0f0f0f;
}

.overview {
    color: #fff;
}

.rating {
    color: #fff;
}

.movie-info h6{
    color: #fff;
}

.button-trailer{
    border: 2px solid transparent;
    background-color: #ff00004d;
    color: #fff;
    border-radius: 30px;
    padding: 0.5rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-color: black;
    transition: box-shadow 0.3s ease;
    position: relative;
}
